<h2>Adminユーザー</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>id</th>
      <th>email</th>
      <th>action</th>
    </tr>
  </thead>
  <tbody>
    <% @admins.each.with_index(1) do |a, i| %>
      <tr>
        <th scope="row"><%= i %></th>
        <td><%= a.id %></td>
        <td><%= a.email %></td>
        <td>
          <% if a.created_by?(current_admin) %>
            <%= link_to 'Edit', edit_admin_path(a), class: 'btn btn-default' if current_admin.id == a.id %>
            <%= link_to 'Delete', admin_path(a), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="well well-sm">
  <%= link_to 'new_admin', new_admin_path, class: 'btn btn-default' %>
</div>
